<?xml version="1.0" encoding="utf-8"?>
<Content Key="4cfd4682-0927-493c-a974-634a6b9b866c" Alias="Search" Level="2">
  <Info>
    <Parent Key="414e176b-e029-4544-9253-99624f8082fd">Website</Parent>
    <Path>/Website/Search</Path>
    <Trashed>false</Trashed>
    <ContentType>searchPage</ContentType>
    <CreateDate>2023-09-10T20:52:10</CreateDate>
    <NodeName Default="Search" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cad4b23f-9460-46dd-b48e-9783852d7934">SearchPage</Template>
  </Info>
  <Properties />
</Content>